<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VoiceRecognitionClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>VoiceRecognitionClientAutoTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>VoiceRecognitionClientDEBUG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>VoiceRecognitionClientIME.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>VoiceRecognitionClientIMEAutoTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>VoiceRecognitionClientIMESDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>VoiceRecognitionClientOpen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>VoiceRecognitionClientOpenAutoTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>VoiceRecognitionClientOpenWithUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>VoiceRecognitionClientOpenWithUIAutoTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>VoiceRecognitionClientWithUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>VoiceRecognitionClientWithUIAutoTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>VoiceRecognitionClientWithUIDEBUG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>182A648E186758C300E8E11F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1870AC491866B6B40051031F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1870AC7C1866B6FA0051031F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1870ACBB1866B70E0051031F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1870ACF01866B71A0051031F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18791F0C182A0ADC00A70004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B6F1D11869A28D00412DC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B977AD1866D4640028762C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D9757E182A2010006409FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18EACF6F186805DD0080648B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18EBF91C19C1C4B600A66D8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18EBF94D19C1C4C800A66D8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4AA25AD153FB601001382BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
